@import "tailwindcss";

:root {
  --color-primary: #b88e2f;
  --color-secondary: #fff3e3;
  --color-text-gray: #9f9f9f;
  --color-line-gray: #d9d9d9;
}

.input-placeholder::placeholder {
  color: var(--color-text-gray);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
